/* Note styles */
.Note {
    height: 40px;
    list-style-type: none;
}

.Note div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    background: white;
    color: black;
}

.Note span {
    font-size: 20px;
    line-height: 40px;
    padding-left: 5px;
}

.Note button {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: pink;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}


li:last-of-type {
    margin-bottom: 5px;
}
